/*
Theme Name:         FoundationPress
Theme URI:          http://foundationpress.olefredrik.com
Github Theme URI:   https://github.com/olefredrik/FoundationPress
Description:        FoundationPress 2.10.2 by Ole Fredrik Lie is a WordPress starter theme based on Foundation 6 by Zurb
Version:            v1.3
Author:             markl@mmoser.com
Author URI:         http://www.mmoser.com/
License:            MIT License
License URI:        http://www.opensource.org/licenses/mit-license.php
*/

/* ----------------------------------------------------------------------------
  
  v1.3 - 9/13/2017
   - Made icon view looked like ipad icons

  v1.2 - 9/7/2017
   - Added list view
   - Styled on mobile

  v1.1 - 8/28/2017
   - Isotope layoutmode none added

---------------------------------------------------------------------------- */
