
body{
  background: #323232;
  font-family: 'Open Sans', sans-serif;
}

p, ul, li{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

a{
  color: #323232;

  &:hover{
   color: #008dee;
  }
}

h2.name {
    font-size: 1vw;
    margin-top: .5rem;
}

.main-wrap {
    margin-top: 1rem;
}

input.quicksearch {
    max-width: none;
    margin: 0 auto 1rem;
    height: 3rem;
    border-radius: 2rem;
    padding-left: 2rem;
}

section.container {
    background: #f2f2f2;
    padding: .5rem 0 3rem;
}

.top-bar, .top-bar ul {
    background-color: #323232;
    height: 5rem;
    border-top: 4px solid #ff7211;
}

.top-bar .top-bar-title a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
}



.info {
    padding-right: 10px;
    padding-left: 10px;
    p{
      margin-bottom: .5rem;
    }
}

.main-wrap{
  max-width: none;

  .main-content {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
  }
}

.thumb {
    width: 100%;
    float: left;
}

.post{
  background: white;
  box-shadow: 0px 2px 7px rgba(0,0,0,.2);
  &:hover {
    box-shadow: 0px 3px 8px rgba(0,0,0,.4);
  }

  .cardfull{
    height: 100%;
  }
}

.hiddentags{
  display: none;
}

.cell{
  position: relative;

  &.thumbonly{
    .info-cell{
      display: none;
    }
  }
}

.grid{
  &.iconly{
    .grid-x > .small-3 {
        width: 100%;
    }

    .info-cell {
        display: block;

        .info{
          h2.name{
            text-align: center;
            
                width: 150px;
                white-space: nowrap;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1rem;

          }
        }
        &.auto{
          -webkit-flex: auto;
          -ms-flex: auto;
          flex: auto;
        }

        .content{
          display: none;
        }
    }

    .post{
      background: transparent;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }

      .cardfull{
        height: auto;
      }
    }

  }

  &.listview{
    .post{
      background: transparent;
      box-shadow: none;
    }

    .thumb{
      display: none;
    }
  }
}

.has-tip {
    border-bottom: none;
    cursor: pointer;
}

div#postheader {
    float: right;
    ul{
      display: inline-block;
      list-style: none;
      li{
        display: inline-block;

        a {
            font-size: 2rem;
            margin-right: .5rem;

            &.active {
                color: #a0a0a0;
            }
        }

      }
    }
}

div#mmoserlogo {
  width: 20rem;
  float: right;
  position: relative;
  top: 4px;
}

#navtopbar{
  max-width: none;
}

.pinthis {
  display: none;
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 25px;
  padding: 2px 10px;
  a.tack{
    color: #bfbfbf;

    &:hover,  &.pinned {
      color: #008dee;
    }
  }


  &.pinned{

  }
}

.footer-container {
    background: #323232;
    margin: 2rem auto;
    border-top: none;
    margin-top: 0;

    footer.footer {
        max-width: none;

        a, h6, &{
          color: white;
        }

        a:hover{
          text-decoration: underline;
        }
    }
}