/* Small only */
@media screen and (max-width: 39.9375em) {

  nav.site-navigation.top-bar {
      display: none;
  }

  .title-bar {
      background: #323232;
      border-top: 3px solid #ff7211;
  }

  div#postheader {
      display: none;
  }

  h2.name {
      font-size: 1rem;
  }

  .title-bar-title a {
      color: white;
  }

  button.menu-icon {
      display: none;
  }

  .title-bar {
      text-align: center;
  }

}